h1{
    text-align: center;
}
img{
    max-height: 100%;
    max-width: 100%;
}

.header-logo {
    float: left;
    width: 282px;
    display: block;
    margin: 10px auto;
    height: 50px;
    background: url('https://www.imumk.ru/Content/skins/bubble/images/logo.svg') center no-repeat;
    background-size: 100%;
}
.header-nav {
    float: right;
    padding: 17px 0 0 20px;
}
.header-nav > .header-link {
    float: left;
    margin: 10px 2px 0;
    display: block;
    width: 150px;
    font-weight: 300;
    font-size: 18px;
    color: #575756;
    text-decoration: none;
}
.header-nav > .header-btn{
    border-radius: 10px;
    border: 1px solid #00c1ff;
    color: #00c1ff;
    box-sizing: border-box;
    padding: 9px 10px;
    font-size: 17.5px;
    float: left;
    margin-left: 10px;
}
#filters{
    margin: 20px 0;
}
#filters .courses-form-search-btn {
    width: 32px;
    height: 32px;
    background: #fff url('https://www.imumk.ru/Content/skins/bubble/images/icons/icon-search-25.png') center no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: -35px;
}
#courses .col-md-2{
    min-width: 20%;
}
.courses-sci{
    border: solid 1px #b5b5b5;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
}
.courses-sci .sci-figure img{
    width: 100%;
}
.courses-sci .sci-info{
    margin-top: -10px;
    background-color: #fff;
    position: relative;
    font-size: 14px;
    padding: 15px 5px 10px;
}
.courses-sci .sci-info p{
    margin-bottom: 5px;
}
.courses-sci .sci-info .sci-genre{
    font-size: 12px;
}
.courses-sci .sci-info .sci-meta a{
    color: #00c1ff;
    font-weight: bold;
}
.sci-info .pure-button{
    background-color: #00c1ff;
    color: #fff;
    border-radius: 6px;
}

@media screen and (max-width: 1199px){
    #courses .col-md-2 {
        min-width: 25%;
    }
}
@media screen and (max-width: 991px){
    #courses .col-md-2 {
        min-width: 33%;
    }
}
@media screen and (max-width: 580px){
    #courses .col-md-2 {
        min-width: 50%;
    }
}
@media screen and (max-width: 400px){
    #courses .col-md-2 {
        min-width: 100%;
    }
}

.w80{
    width: 80%!important;
}
.mb-20{
    margin-bottom: 20px!important;
}